extends layout

block content
  h1= title
  p Are you sure you want to delete the following Contact?
  hr
  // Displaying contact details
  div
    p Contact ID: #{contact.id}
    p First Name: #{contact.firstName}
    p Last Name: #{contact.lastName}
    p Email Address: #{contact.email ? contact.email : 'N/A'}
    p Notes: #{contact.notes ? contact.notes : 'N/A'}
    p Date Created/Modified: #{contact.dateTime}

  // Confirmation form
  form(method='POST' action=`/contacts/${contact.id}/delete`)
    button(type='submit') Confirm Delete
    | 
    a(href=`/contacts/${contact.id}`) Cancel
